body,h1,h2,h3,h4,h5,h6,p,dl,dd {
    margin: 0;
}

body {
    font-size: 14px;
    color: #333;
    font-family: "微软雅黑";
}

ul,ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    border: none;
    vertical-align: middle;
}

a{
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #b4a078;
}

input {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    border: 1px solid #ccc;
}

label {
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

th,td {
    padding: 0;
}

.center {
    width: 1090px;
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

.scaleImg img {
    transition: 1s ease-out;
    transform: scale(1);
}

.scaleImg:hover img{
    transform: scale(1.1);
}

.orginal {
    background: #f4f4f4 url(../images/original.png) center no-repeat;
}

/* ---------head----------- */
#head {
    border-bottom: 1px solid #f3f3f3;
    box-shadow: 0 2px 2px #f3f3f3;
}

#head .head {
    background: #333;
    font-size: 12px;
    line-height: 36px;
}

#head .left{
    color: #ccc;
}

#head li{
    float: left;
    position: relative;
}

#head li a{
    color: #ccc;
    padding: 0 10px;
    border-left: 1px solid #5c5c5c;
}

#head li a:hover {
    color: white;
    font-weight: bold;
}

#head .customerServ {
    padding-right: 10px;
    background: url(../images/customer_bg1.gif) 63px center no-repeat;
    background-size: 10px 10px;
}

#head .customerServ:hover {
    background: url(../images/customer_bg2.gif) 63px center no-repeat;
    background-size: 10px 10px;
}

#head .customerServ ul {
    position: absolute;
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    /* display: none; */
}

#head .customerServ ul::before {
    width: 10px;
    height: 6px;
    content: '';
    display: block;
    background: url(../images/ico_02.png) no-repeat;
    background-size: 6px 6px;
    position: absolute;
    left: 0;
    top: -6px;
    right: 0;
    margin: auto;
}

#head .customerServ ul li{
    float: none;
}

#head .customerServ ul a {
    display: block;
    padding: 0;
    border-left: none;
    border-bottom: 1px solid #ddd;
    text-align: center;
    margin: 0 10px;
    color: #999;
}

#head .customerServ ul a:hover {
    color: #b4a078;
}

#head .customerServ li div {
    position: absolute;
    width: 110px;
    height: 57px;
    right: -110px;
    top: 0;
    line-height: 20px;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
}

#head .download a{
    padding-left: 20px;    
    background: url(../images/ico_01.png) no-repeat;
    background-size: 18px 18px;
}